#grid{
  display: grid;
  grid-template-columns: 350px 1fr;
}

#상위 {
  text-align: center;
  border-bottom:2px solid black;
  margin : 0px;
  padding: 50px;
  font-size: 50px;
}

#grid ol{
  border-right: 2px solid black;
  width: 250px;
  margin: 0px;
  padding: 20px;
  padding-left: 33px;
  font-size: 30px
}

  #이미지폰트{
  font-size: 35px;

  }

#segong {
  margin: 1px;
  font-size: 25px;


}

h1 {
  margin-top: 5px;
  margin-bottom: 1px;
}

#상위{
background-color: steelblue;
color: white;
}
